/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 12 version
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
/* ========== Variables ========== */
/* Define dark and light palettes with CSS variables */
/* Light Mode */
:root[color-mode="light"] {
    /* Accent colors */
    --primary-color: #5ec576;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-primary-reverse: linear-gradient(to top left, #9be15d, #39b385);
    /* Text colors */
    --primary-text: #3f3f46;
    --secondary-text: #fafafa;
    /* Background colors */
    --primary-background: #e4e4e7;
    --secondary-background: #212224ff;
    /* Navigation colors */
    --navbar-transparent:rgba(0,0,0,0);
    --navbar-primary: #fafafa;
}
/* Dark Mode */
:root[color-mode="dark"] {
    /* Accent colors */
    --primary-color: #5ec576;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-primary-reverse: linear-gradient(to top left, #9be15d, #39b385);
    /* Text colors */
    --primary-text: #e4e4e7;
    --secondary-text: #3f3f46;
    /* Background colors */
    --primary-background: #27272a;
    --secondary-background: #f3f3f3;
    /* Navigation colors */
    --navbar-transparent:rgba(0,0,0,0);
    --navbar-primary: #18181b;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* ========== Main Styling ========== */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--primary-background);
    color: var(--primary-text);
}
p {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 2;
}
i {
    display: inline;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--secondary-text);
}
.container {
    max-width: 60vw; 
    margin: 0 auto; 
}
.responsive {
    max-width: 100%;
    height: auto;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
    }

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    }
/* ========== GENERAL ELEMENTS ========== */
.section {
    padding: 60px 0;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    -o-transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
/* ========== Navbar Styling ========== */
nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20vw;
    flex-wrap: wrap;
    z-index: 1;
    background-color: var(--navbar-primary);
    box-shadow: rgb(12 12 12 / 10%) 1px 3px 5px;
    transition: background 0.4s;
}
nav h1 {
    font-size: 2rem;
}
nav h1 a {
    font-family: 'Pacifico';
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    -webkit-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
    color: inherit;
}
nav h1 a:hover {
    color: var(--primary-color);
}
nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
nav ul li {
    margin: 0 5px;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 1.4rem 1rem 1rem;
    width: 100%;
    color: inherit;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav ul:hover li {
    opacity: 0.50;
}
nav ul:hover li:hover,
nav ul:hover li.active {
    transition: 0.5s ease-out;
    opacity: 1;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary-text);
}
.theme-switch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    position: relative;
    width: 56px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: var(--primary-background);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.slider:before {
    background-color: var(--primary-text);
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    width: 22px;
}
input:checked + .slider {
    background-color: var(--secondary-text);
}
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
            transform: translateX(22px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* ========== HERO ========== */
.hero {
    background: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2231&q=80") no-repeat fixed;
    height: 100vh;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(94, 197, 118, 0.90);
}
.hero_wrapper {
    width:100%;
    text-align:center;
    top:30%;
    position:relative;
  }
  .hero p {
    font-family: 'Raleway';
    color: var(--primary-text);
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero img {
    max-width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

.hero_wrapper h1 {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 26px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 300;
    color: var(--secondary-text);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.hero_wrapper h1 span {
    padding: 4px 15px;
}
.hero_wrapper h1 span::before {
    content: '\2013  ';
    font-family: 'Montsettat', sans-serif;
  }
.hero_wrapper h1 span::after {
    content: '  \2013';
    font-family: 'Montsettat', sans-serif;
}
.hero_wrapper h3 {
    font-size: 16px;
    margin-bottom: 1rem;
    color: var(--secondary-text);
}
.hero_social {
    text-align: center;
}
.hero_social i {
    color: var(--secondary-text);
    font-size: 30px;
    margin: 0 0.5rem;
}
.hero_social i:hover {
    color: var(--primary-background);
}
/* .hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg) top right no-repeat;
    background-size: cover;
    position: relative;
}
.hero_title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero_left {
    max-width: 100%;
    margin-right: 28px;
}
.hero_title h1 {
    font-size: 3.4rem;
    line-height: 1.35;
}
.hero_title h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-text);
    margin: 2rem 0rem;
}
.hero_img {
    z-index: -1;
    border-radius: 50%;
    background: var(--gradient-primary);
    padding: 4px;
}
.hero_social {
    text-align: center;
}
.hero_social i {
    color: #697477;
    font-size: 1.4rem;
    margin: 0 0.5rem;
}
.hero_social i:hover {
    color: var(--primary-color);
} */
.highlight {
    position: relative;
    z-index: -1;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}
.highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    -webkit-transform: scale(1.07, 1.05) skewX(-15deg);
        -ms-transform: scale(1.07, 1.05) skewX(-15deg);
            transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
}
.highlight-logo {
    position: relative;
    z-index: -1;
}
.highlight-logo::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0px;
    height: 102%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    -webkit-transform: scale(1.07, 1.05) skewX(-15deg);
        -ms-transform: scale(1.07, 1.05) skewX(-15deg);
            transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
}
.btn--text {
    display: inline-block;
    background: none;
    font-size: 1.05rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--primary-color);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* ========== ABOUT =========== */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
/* ========== ABOUT ========== */
.skills{
    width: 100%;
    max-width: 600px;
}

.skill-name{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text);
    text-transform: uppercase;
    margin-top: 10px;
}

.skill-bar{
    height: 14px;
    background: var(--primary-text);
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: var(--gradient-primary-reverse);
    border-radius: 3px;
    position: relative;
    animation: fillBars 5.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 0px 6px;
    background: var(--navbar-primary);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--navbar-primary);
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
    width: 0;
    }
    to{
    width: 100%;
    }
}
/* ========== SKILLS ========== */
.skills_wrapper {
    width: 100%;
    margin: 0 auto;
}
.skills_wrapper p {
    color: var(--primary-text);
}
.container-icons {
    text-align: center;
    margin-top: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.container-icons .box-icon {
    width: 20%;
    height: 142px;
    margin-bottom: 2rem;
}
.container-icons .devicon,
.container-icons .fab,
.container-icons .fas,
.container-icons .fa {
    color: var(--primary-text);
    font-size: 3.5rem;
}

/* ========== PROJECTS ========== */
.project_header {
    max-width: 50rem;
    margin: 0 auto 8rem auto;
    text-align: center;
}
.project_header_title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.project_header_subtitle {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
}
.features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 4rem 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    margin: 0 auto;
}
.features__img {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.features__feature {
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    width: 100%;
    font-size: 1.1rem;
}
.features__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color-primary-opacity);
    height: 5.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-bottom: 0rem;
}
.features__icon svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--primary-color);
}
.features__header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* ========== FOOTER ========== */
.footer-distributed {
    background-color: var(--navbar-primary);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}
.footer-distributed .footer-left p {
    color: var(--primary-text);
    font-size: 14px;
    margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    -webkit-transition: ease .25s;
    -o-transition: ease .25s;
    transition: ease .25s;
}
.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: var(--primary-text);
    -webkit-transition: ease .25s;
    -o-transition: ease .25s;
    transition: ease .25s;
}
.footer-distributed .footer-links a:before {
    content: "•";
    font-size: 20px;
    left: 0;
    color: var(--primary-text);
    display: inline-block;
    padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
    content: none;
}
.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}
.footer-distributed .footer-right i {
    color: var(--primary-text);
}
.footer-distributed .footer-right .fa-heart {
    color: #dc2626;
}
.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: var(--primary-background);
    border-radius: 2px;
    font-size: 20px;
    color: var(--primary-text);
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    -webkit-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
.footer-distributed .footer-right #WithLove {
    color: var(--primary-text);
    font-size: 14px;
    margin-left: 3px;
}
.footer-distributed .footer-right a:hover{
    -ms-transform:scale(1.1);
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}
.footer-distributed p.footer-links a:hover{
   text-decoration:underline;
}
/* Media Queries */
@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
   }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
   }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
   }
}


/* ========== RESPONSIVE SCREEN SIZES ==========*/
/* navbar */
@media (max-width: 1000px) {
    .nav {
        padding: 0 40px 0 40px;
   }
}  
@media only screen and (min-width: 320px) and (max-width: 479px) {
.nav {
    background-color: var(--bg-primary-color);
    }
    .nav ul {
        position: fixed;
        top: 64px;
        right: -100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: var(--bg-secondary-color);
        height: 100%;
        width: 100%;
        text-align: center;
        display: block;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 1;
    }

    .nav ul.active {
        right: 0;
    }

    .nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    .nav ul li a {
        width: 100%;
        display: block;
        font-size: 20px;
        -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .nav ul li a.active, 
    .nav ul li a:hover {
        background: none;
        color: rgb(108,99,255);
    }

    label {
        margin-left:auto;
        margin-right:auto;
    }

    input:checked + .slider {
        background-color: var(--bg-fill-color);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /* Skills */
    .flex-skills {
        max-width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 30px;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
        padding: 3rem 20vw;
    }
    /* Projects */
    .projects img {
        max-width: 90%;
    }

    .projects p {
        max-width: 100%;
        padding: 1rem 2rem;
        margin: 0 auto;
    }
    /* Education */
    .card-container {
        max-width: 350px;
        padding: 20px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 991px) {}



