/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 12 version
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
	--text-color: #3f3f46;
	--subtext-color: #f4f4f4;
	--slider-bg: #cccccc;
	--slider-round: #f4f4f4;
	--primary-color: #5ec576;
	--primary-color-darker: #4bbb7d;
	--bg-color-primary: #f4f4f4;
	--bg-color-secondary: #ffffff;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--gradient-primary-reverse: linear-gradient(to top left, #9be15d, #39b385);
}

[data-theme="dark"] {
	--text-color: #f4f4f4;
	--subtext-color: #18181b;
	--slider-bg: #cccccc;
	--slider-round: #3f3f46;
	--bg-color-primary: #27272a;
	--bg-color-secondary: #18181b;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
/* ========== Main Styling ========== */
body {
	background: var(--bg-color-primary);
	color: var(--text-color);
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.6;
	-webkit-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
	-webkit-animation: fadein 1s;
 /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s;
 /* Firefox < 16 */
	-ms-animation: fadein 1s;
 /* Internet Explorer */
	-o-animation: fadein 1s;
 /* Opera < 12.1 */
	animation: fadein 1s;
}

h1,
p {
	color: var(--text-color);
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

p {
	margin: 10px 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 2;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

i {
	display: inline;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.container {
	max-width: 60vw;
	margin: 0 auto;
}

.responsive {
	max-width: 100%;
	height: auto;
}

.reveal {
	position: relative;
	-webkit-transform: translateY(150px);
	-ms-transform: translateY(150px);
	transform: translateY(150px);
	opacity: 0;
	-webkit-transition: 1s all ease;
	-o-transition: 1s all ease;
	transition: 1s all ease;
}

.reveal.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
/* ========== GENERAL ELEMENTS ========== */
.section {
	scroll-margin-top: 10vh;
	padding: 60px 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, -webkit-transform 1s;
	-o-transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
/* ========== Navbar Styling ========== */
nav {
	position: fixed;
	top: 0;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 56px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 20vw;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	z-index: 1;
	background-color: var(--bg-color-secondary) !important;
	-webkit-box-shadow: rgb(12 12 12 / 10%) 1px 3px 5px;
	box-shadow: rgb(12 12 12 / 10%) 1px 3px 5px;
	-webkit-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
 /* Transition effect when sliding down (and up) */;
}

nav h1 {
	font-size: 2rem;
}

nav h1 a {
	font-family: 'Pacifico';
	text-decoration: none;
	font-size: 30px;
	font-weight: 500;
	-webkit-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
    /* color: inherit; */;
}

nav h1 a:hover {
	color: var(--bg-color-secondary);
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

nav ul li {
	margin: 0 5px;
	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

nav ul li a {
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 0 .5rem;
	width: 100%;
	color: var(--text-color);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar ul li a.active {
    /* background: none; */
	text-shadow: 0 0 .65px var(--primary-color), 0 0 .65px var(--primary-color);
	color: var(--primary-color);
}

.navbar ul li a:hover {
    /* text-shadow: 0 0 .5px var(--primary-color), 0 0 .5px var(--primary-color); */
	background-image: var(--gradient-primary);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	padding: .4rem .5rem;
	border-radius: 5px;
	color: white;
}
/* .navbar ul li a:hover {
    opacity: 1;
}
.navbar ul li a.active {
    background: none;
    color: var(--primary-color);
    opacity: 1;
} */
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--text-color);
}

.theme-switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 30px;
	position: relative;
	width: 56px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: var(--slider-bg);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.slider:before {
	background-color: var(--slider-round);
	bottom: 4px;
	content: "";
	height: 22px;
	left: 4px;
	position: absolute;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	width: 22px;
}

input:checked + .slider {
	background-color: var(--slider-bg);
}

input:checked + .slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* ========== HERO ========== */
.hero {
	background-image: url('./img/hero_bg.png');
	height: 100vh;
	background-size: cover;
	-webkit-box-shadow: inset 0 0 0 100vmax rgba(94, 197, 118, 0.90);
	box-shadow: inset 0 0 0 100vmax rgba(94, 197, 118, 0.90);
}

.hero_wrapper {
	width: 100%;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
}

.hero p {
	font-family: 'Raleway';
	color: var(--text-color);
	text-align: center;
	font-size: 17px;
	margin-top: 5px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.hero img {
	max-width: 40%;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.hero_wrapper h1 {
	font-family: "Kaushan Script", cursive;
	margin-bottom: 26px;
	font-size: clamp(2.5rem, 2.5vw, 3.125rem);
	line-height: 1.3;
	font-weight: 300;
	color: var(--secondary-text);
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.hero_wrapper h1 span {
	padding: 4px 15px;
}

.hero_wrapper h1 span::before {
	content: '\2013  ';
	font-family: 'Montsettat', sans-serif;
}

.hero_wrapper h1 span::after {
	content: '  \2013';
	font-family: 'Montsettat', sans-serif;
}

.hero_wrapper h3 {
	font-size: 16px;
	font-size: clamp(0.85rem, 2.5vw, 1rem);
	margin-bottom: 1rem;
	color: var(--secondary-text);
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.hero_social {
	text-align: center;
}

.hero_social i {
	color: var(--secondary-text);
	font-size: 28px;
	margin: 0 0.5rem;
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.hero_social i:hover {
	color: var(--bg-color-primary);
}

.highlight {
	position: relative;
	z-index: -1;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}

.highlight::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	-webkit-transform: scale(1.07, 1.05) skewX(-15deg);
	-ms-transform: scale(1.07, 1.05) skewX(-15deg);
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
}

.highlight-logo {
	position: relative;
	z-index: -1;
	margin: 0;
}

.highlight-logo::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	top: 2px;
	left: 0px;
	height: 94%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	-webkit-transform: scale(1.07, 1.05) skewX(-15deg);
	-ms-transform: scale(1.07, 1.05) skewX(-15deg);
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
}

.btn--text {
	display: inline-block;
	background: none;
	font-size: 1.05rem;
	font-weight: 500;
	color: var(--primary-color);
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


/* ========== ABOUT =========== */
/* Create two equal columns */
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.column {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.skills {
	width: 100%;
}

.skill-name {
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
	text-transform: uppercase;
	margin-top: 10px;
}

.skill-bar {
	height: 14px;
	background: var(--text-color);
	border-radius: 3px;
}

.skill-per {
	height: 14px;
	background: var(--gradient-primary-reverse);
	border-radius: 3px;
	position: relative;
}

.skill-per::before {
	content: attr(per);
	position: absolute;
	padding: 0px 6px;
	background: var(--text-color);
	color: var(--subtext-color);
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	top: -35px;
	right: 0;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

.skill-per::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: var(--text-color);
	top: -20px;
	right: 0;
	-webkit-transform: translateX(50%) rotate(45deg);
	-ms-transform: translateX(50%) rotate(45deg);
	transform: translateX(50%) rotate(45deg);
	border-radius: 2px;
}

.fill_bar {
	width: attr(per);
}

.fill_bar.animated {
	-webkit-animation: fillBars 3s;
	animation: fillBars 3s;
}

@-webkit-keyframes fillBars {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes fillBars {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

/* ========== SKILLS ========== */
.skills_wrapper {
	width: 100%;
	margin: 0 auto;
}

.skills_wrapper p {
	color: var(--text-color);
}

.container-icons {
	text-align: center;
	margin-top: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.container-icons .box-icon {
	width: 20%;
	height: 142px;
	margin-bottom: 2rem;
}

.container-icons .devicon,
.container-icons .fab,
.container-icons .fas,
.container-icons .fa {
	color: var(--text-color);
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
	font-size: 3.5rem;
}

/* ========== PROJECTS ========== */
/* Create two equal columns that float next to each other */
.projects .project_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 2rem;
}

.projects .project_row .project_left {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	margin-right: 2rem;
}

.projects .project_row .project_right {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.projects .project_row .project_right .tech_stack {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: 1rem;
}

.projects .project_row .project_right .tech_stack li {
	color: var(--text-color);
	font-size: 28px;
	margin: 0 1rem;
}

.projects .project_row .project_right .project_links {
	margin-top: 1rem;
}

.project_button {
	background-color: var(--bg-color-secondary);
	border: 0;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--text-color);
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.25rem;
	padding: .75rem 1rem;
	text-align: center;
	text-decoration: none;
	text-decoration-thickness: auto;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
	transition: all 0.3s;
}

.project_button:hover {
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.project_button:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.project_button:focus-visible {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.project_img {
	width: 100%;
	border-radius: 5px;
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project_header {
	max-width: 50rem;
	margin: 0 auto 8rem auto;
	text-align: center;
}

.projects h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--primary-color);
	margin-bottom: 2rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.projects .project_row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

/* ========== FOOTER ========== */
.footer-distributed {
	background-color: var(--bg-color-secondary);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p {
	color: var(--text-color);
	font-size: 14px;
	margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	-webkit-transition: ease .25s;
	-o-transition: ease .25s;
	transition: ease .25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: var(--text-color);
	-webkit-transition: ease .25s;
	-o-transition: ease .25s;
	transition: ease .25s;
}

.footer-distributed .footer-links a:before {
	content: "•";
	font-size: 20px;
	left: 0;
	color: var(--text-color);
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right i {
	color: var(--text-color);
}

.footer-distributed .footer-right .fa-heart {
	color: #dc2626;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: var(--bg-color-primary);
	border-radius: 2px;
	font-size: 20px;
	color: var(--text-color);
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.footer-distributed .footer-right #WithLove {
	color: var(--text-color);
	font-size: 14px;
	margin-left: 3px;
}

.footer-distributed .footer-right a:hover {
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}
/* Media Queries */
@media (max-width: 600px) {
	.footer-distributed .footer-left, .footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}

/* MODAL WINDOW */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	max-height: 575px;
	background-color: var(--bg-color-primary);
	padding: 3.125rem 3.75rem;
	border-radius: 5px;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 100;
	transition: all 0.5s;
}

.modal__header {
	font-size: 2.03125rem;
	margin-bottom: 2.8125rem;
	line-height: 1.5;
}

.modal__form {
	margin: 0rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 1.5rem;
}

.modal__form label {
	font-size: 1.0625rem;
	font-weight: 500;
}

.modal__form input {
	font-size: 1.0625rem;
	font-family: 'Poppins', sans-serif;
	padding: 0.625rem 0.9375rem;
	background-color: var(--bg-color-secondary);
	border: hidden;
	border-radius: 0.5rem;
	max-width: 322px;
	max-height: 48px;
}

.modal__form textarea {
	font-size: 1.0625rem;
	font-family: 'Poppins', sans-serif;
	padding: 0.625rem 0.9375rem;
	background-color: var(--bg-color-secondary);
	border: hidden;
	border-radius: 0.5rem;
	max-width: 322px;
}

.modal__form button {
	grid-column: 1 / span 2;
	justify-self: center;
	margin-top: 1rem;
}

.btn--close-modal {
	color: var(--text-color);
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 2.5rem;
	cursor: pointer;
	border: none;
	background: none;
	transition: all 0.3s;
}

.btn--close-modal:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.hidden {
	visibility: hidden;
	opacity: 0;
}
  
  /* COOKIE MESSAGE */
.cookie-message {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	background-color: white;
	color: #bbb;
	font-size: 1.5rem;
	font-weight: 400;
}

.btn {
	display: inline-block;
	background-image: var(--gradient-primary);
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 500;
	border: none;
	padding: 0.78125rem 2.8125rem;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.btn:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.btn:focus-visible {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn--text {
	display: inline-block;
	background: none;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--color-primary);
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
}
/* ========== RESPONSIVE SCREEN SIZES ========== */
/* Mobile Devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.navbar {
		background-color: var(--bg-color-secondary);
		padding: 0 10vw;
	}

	.navbar ul {
		position: fixed;
		top: 56px;
		right: -100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: var(--bg-color-secondary);
		height: 100%;
		width: 100%;
		text-align: center;
		display: block;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 1;
	}

	.navbar ul.active {
		right: 0;
	}

	.navbar ul li {
		width: 100%;
		margin: 40px 0;
	}

	.navbar ul li a {
		width: 100%;
		display: block;
		font-size: 20px;
		-webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-o-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.navbar ul li a.active, 
    .navbar ul li a:hover {
		background: none;
		color: var(--primary-color);
	}

	label {
		margin-left: auto;
		margin-right: auto;
	}

	input:checked + .slider {
		background-color: var(--secondary-text);
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		-ms-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		-ms-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}

	.container {
		max-width: 84vw;
		margin: 0 auto;
	}


    /* ====== Skills & Tools ====== */
	.container-icons .box-icon {
		width: 50%;
		height: 100px;
		margin-bottom: .75rem;
	}

	.container-icons .devicon,
    .container-icons .fab,
    .container-icons .fas,
    .container-icons .fa {
		color: var(--text-color);
		font-size: 2.5rem;
	}

	.skills_wrapper p {
		color: var(--text-color);
	}


    /* ====== Projects ====== */
	.projects .project_row {
		margin-bottom: 3rem;
	}

	.projects .project_row .project_left {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		margin: 0 auto 1rem;
	}

	.projects .project_row .project_right p {
		margin: 0;
	}

	.projects .project_row .project_right .tech_stack {
		margin: .5rem 0 .5rem 0;
	}

	.projects .project_row .project_right .tech_stack li {
		color: var(--text-color);
		font-size: 28px;
		margin: 0 .75rem;
	}
}

/* iPads & Tablets */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.navbar {
		background-color: var(--bg-color-secondary);
		padding: 0 10vw;
	}

	.navbar ul {
		position: fixed;
		top: 56px;
		right: -100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: var(--bg-color-secondary);
		height: 100%;
		width: 100%;
		text-align: center;
		display: block;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 1;
	}

	.navbar ul.active {
		right: 0;
	}

	.navbar ul li {
		width: 100%;
		margin: 40px 0;
	}

	.navbar ul li a {
		width: 100%;
		display: block;
		font-size: 20px;
		-webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-o-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.navbar ul li a.active, 
    .navbar ul li a:hover {
		background: none;
		color: var(--primary-color);
	}

	label {
		margin-left: auto;
		margin-right: auto;
	}

	input:checked + .slider {
		background-color: var(--secondary-text);
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		-ms-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		-ms-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}

	.container {
		max-width: 84vw;
		margin: 0 auto;
	}


    /* ====== Skills & Tools ====== */
	.container-icons .box-icon {
		width: 50%;
		height: 100px;
		margin-bottom: .75rem;
	}

	.container-icons .devicon,
    .container-icons .fab,
    .container-icons .fas,
    .container-icons .fa {
		color: var(--text-color);
		font-size: 2.5rem;
	}

	.skills_wrapper p {
		color: var(--text-color);
	}


    /* ====== Projects ====== */
	.projects .project_row {
		margin-bottom: 3rem;
	}

	.projects .project_row .project_left {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		margin: 0 auto 1rem;
	}

	.projects .project_row .project_right p {
		margin: 0;
	}

	.projects .project_row .project_right .tech_stack {
		margin: .5rem 0 .5rem 0;
	}
}

/* Small screens & Laptops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar {
		background-color: var(--bg-color-secondary);
		padding: 0 10vw;
	}

	.navbar ul {
		position: fixed;
		top: 56px;
		right: -100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: var(--bg-color-secondary);
		height: 100%;
		width: 100%;
		text-align: center;
		display: block;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 1;
	}

	.navbar ul.active {
		right: 0;
	}

	.navbar ul li {
		width: 100%;
        /* margin: 40px 0; */;
	}

	.navbar ul li a {
		width: 100%;
		display: block;
		font-size: 20px;
		-webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-o-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.navbar ul li a.active, 
    .navbar ul li a:hover {
		background: none;
		color: var(--primary-color);
	}

	label {
		margin-left: auto;
		margin-right: auto;
	}

	input:checked + .slider {
		background-color: var(--secondary-text);
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		-ms-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		-ms-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}

	.container {
		max-width: 88vw;
		margin: 0 auto;
	}


    /* ====== Hero ====== */
	.hero img {
		max-width: 20%;
		border-radius: 50%;
		margin: 0 auto;
		margin-top: 56px;
	}


    /* ====== About Me ====== */
	.column:nth-child(1) {
		padding: 10px 0;
		-ms-flex-preferred-size: 60%;
		flex-basis: 60%;
	}

	.column:nth-child(2) {
		padding: 10px 0 10px 10px;
	}

	.row .column p {
		font-size: 1rem;
		line-height: 1.8;
	}


    /* ====== Skills & Tools ====== */
	.container-icons .box-icon {
		width: 20%;
		height: 80px;
		margin-bottom: .50rem;
	}

	.container-icons .devicon,
    .container-icons .fab,
    .container-icons .fas,
    .container-icons .fa {
		color: var(--text-color);
		font-size: 2.5rem;
	}

	.skills_wrapper p {
		color: var(--text-color);
	}


    /* ====== Projects ====== */
	.projects .project_row {
		margin-bottom: 3rem;
	}

	.projects .project_row .project_left {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
        /* margin: 0 auto 1rem; */;
	}

	.projects .project_row .project_right {
		-ms-flex-preferred-size: 45%;
		flex-basis: 45%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.projects .project_row .project_right p {
		margin: 0;
	}

	.projects .project_row .project_right .tech_stack {
		margin: .5rem 0 .5rem 0;
	}
}

/* Tablet landscape & Desktop */
@media only screen and (min-width: 992px) {
	.navbar {
		background-color: var(--bg-color-secondary);
		padding: 0 15vw;
	}

	nav {
		height: 64px;
	}

	.container {
		max-width: 68vw;
		margin: 0 auto;
	}


    /* ====== About ====== */
	.row .column p {
		margin-right: 4rem;
		line-height: 2.4;
	}
}